@model Sticker

<div class="col-lg-4">
    <div>
        <img class="img-thumbnail" src="@Model.img" alt="@Model.name" />
        <h2>@Model.name</h2>
        <p>@Model.shortDesc</p>
        <p>Price: @Model.price.ToString("c")</p>
    </div>
</div>